<div class="container">
  <h1 class="title">Înregistrare</h1>

  <form [formGroup]="registerForm" (ngSubmit)="submit()" class="form">
    <input type="text" placeholder="Email" formControlName="email" class="input" [class.wrong]="isWrongField('email')">
    <input type="text" placeholder="Nume utilizator" formControlName="name" class="input">
    <input type="text" placeholder="Telefon" formControlName="phoneNumber" class="input">
    <input type="password" placeholder="Password" formControlName="password" class="input">

    <button class="button">Înregistrare</button>
  </form>

  <a routerLink="/register" class="link">Logare</a>

</div>
